<a href="https://colab.research.google.com/github/marisbotero/sapiencia/blob/main/Workshop1_Maris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

## Basic python operations

* https://www.hackerrank.com/challenges/py-if-else/problem?h_r=internal-search

* https://www.hackerrank.com/challenges/python-arithmetic-operators/problem

* https://www.hackerrank.com/challenges/python-division/problem

* https://www.hackerrank.com/challenges/python-loops/problem

## Basic python structures

* https://www.hackerrank.com/challenges/python-lists/problem

* https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/problem

* https://www.hackerrank.com/challenges/nested-list/problem

## Numpy

* Create a null vector of size 10 (★☆☆)

In [2]:
x = np.zeros(10)
(x)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

* Reverse a vector (first element becomes last) (★☆☆)

In [3]:
x = np.arange(12, 38)
print("Original vector:")
print(x)
print("Reverse vector:")
x = x[::-1]
print(x)

Original vector:
[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
 36 37]
Reverse vector:
[37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14
 13 12]

* Find indices of non-zero elements from [1,2,0,0,4,0] (★☆☆)

In [32]:
x = np.array([1,2,0,0,4,0] )
m =np.nonzero(x)
print ("Indices of non zero elements : ", m)

Indices of non zero elements :  (array([0, 1, 4]),)

* Create a 3x3 identity matrix (★☆☆)

In [4]:
m=np.identity(3)
m

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

* Create a 10x10 array with random values and find the minimum and maximum values (★☆☆)

In [5]:
x = np.random.random((10,10))
print("Original :")
print(x) 
xmin, xmax = x.min(), x.max()
print("Minimum and Maximum Values:")
print(xmin, xmax)

Original :
[[0.21763369 0.93294363 0.87406119 0.46830052 0.0830411  0.33102995
  0.32646778 0.93551298 0.43301198 0.57648483]
 [0.15858698 0.78991928 0.75524607 0.45458163 0.70514622 0.14565277
  0.08159451 0.04837724 0.46280682 0.45690985]
 [0.73673919 0.79980208 0.29788933 0.06013222 0.19365061 0.8077359
  0.73453127 0.16754343 0.47955567 0.76398971]
 [0.69014608 0.11424932 0.96259942 0.6218606  0.90854024 0.44636129
  0.03856989 0.31994127 0.12951292 0.49746036]
 [0.52916205 0.09269403 0.07724758 0.36496095 0.80347642 0.13023112
  0.1454765  0.38310914 0.15067229 0.79679158]
 [0.1241686  0.31751806 0.61255166 0.53163459 0.4101125  0.14335193
  0.1708722  0.11122491 0.93254265 0.78343301]
 [0.94044909 0.00246997 0.02304715 0.295381   0.19104786 0.71829543
  0.68095399 0.15573067 0.64010565 0.84693219]
 [0.20841008 0.50570182 0.64278759 0.20203023 0.47468934 0.72545278
  0.71029084 0.8725094  0.5223389  0.23889039]
 [0.33491636 0.15144552 0.03773845 0.79194971 0.39362575 0.87922503
  0.49985656 0.81470785 0.34393766 0.97404476]
 [0.72082574 0.5824407  0.2815521  0.82050744 0.29768649 0.50090859
  0.36195501 0.12158843 0.26186783 0.03417303]]
Minimum and Maximum Values:
0.0024699731466406583 0.9740447562688302

## Pandas

Consider the following Python dictionary data and Python list labels

In [6]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

* Create a DataFrame df from this dictionary data which has the index labels

In [7]:
df = pd.DataFrame(data , index=labels)
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

* Display a summary of the basic information about this DataFrame and its data (hint: there is a single method that can be called on the DataFrame 'describe')

In [13]:
#df.info()
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

* Return the first 3 rows of the DataFrame df

In [14]:
df.iloc[:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

* Select just the 'animal' and 'age' columns from the DataFrame df

In [20]:
df[['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

* Select the rows where the age is missing, i.e. it is NaN.

In [22]:
df[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

* Calculate the sum of all visits in df (i.e. find the total number of visits)

In [24]:
df.groupby(['visits']).size()

visits
1    4
2    3
3    3
dtype: int64